<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ellis_Tokens>
            <version>0.0.1</version>
        </Ellis_Tokens>
    </modules>
    <global>
        <blocks>
           <etokens>
               <class>Ellis_Tokens_Block</class>
           </etokens>
        </blocks>

        <helpers>
            <etokens>
                <class>Ellis_Tokens_Helper</class>
            </etokens>
        </helpers> 

        <models>
           <etokens>
               <class>Ellis_Tokens_Model</class>
               <resourceModel>etokens_resource</resourceModel>
           </etokens>
           <etokens_resource>
                <class>Ellis_Tokens_Model_Resource</class>
                <entities>
                    <etokens>
                        <table>ellis_tokens</table>
                    </etokens>
                </entities>
           </etokens_resource>

          <!-- Rewriting models -->
          <customer>
              <rewrite>
                  <customer>Ellis_Tokens_Model_Customer</customer>
              </rewrite>
          </customer>
        </models>

        <resources>
            <etokens_setup>
                <setup>
                    <module>Ellis_Tokens</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </etokens_setup>
            <etokens_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </etokens_write>
            <etokens_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </etokens_read>
        </resources>

        <events>
            <!-- 
                This event is called every time the order is saved. 
                For eg. Order status changed, invoiced, shipped & credit memo.
            -->
            <sales_order_save_after>    
                <observers>                
                    <etokens_observer>                    
                        <type>singleton</type>                        
                        <class>Ellis_Tokens_Model_Observer</class>                        
                        <method>tokenOrderSaveAfter</method>                  
                    </etokens_observer>                
                </observers>            
            </sales_order_save_after>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <etokens before="Mage_Adminhtml">Ellis_Tokens_Adminhtml</etokens>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <!-- This was a conscience decision to share a translation file for testing purposes -->
    <adminhtml>
        <translate>
            <modules>
                <Ellis_Tokens>
                    <files>
                        <default>Ellis_Tokens.csv</default>
                    </files>
                </Ellis_Tokens>
            </modules>
        </translate>
    </adminhtml>
    
    <frontend>
        <routers>
            <etokens>
                <use>standard</use>
                <args>
                    <module>Ellis_Tokens</module>
                    <frontName>etokens</frontName>
                </args>
            </etokens>
        </routers>

        <layout>
            <updates>
                <etokens>
                    <file>etokens.xml</file>
                </etokens>
            </updates>
        </layout>

        <translate>
            <modules>
                <Ellis_Tokens>
                    <files>
                        <default>Ellis_Tokens.csv</default>
                    </files>
                </Ellis_Tokens>
            </modules>
        </translate>
    </frontend>
</config>